!!! 5
%html
  %head
    %title= title
    = stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true
    = render "screenhead"
    = javascript_include_tag  "screen"
    = csrf_meta_tags
  %body{:id=>page_class.gsub(" ","_"), :class=>page_class}
    = yield